[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
hyperscan = "*"
pyarrow = "*"
scipy = "*"
joblib = "*"
tqdm = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
